<div class="d-flex bd-highlight h-75 bg-dark align-items-center">

    <div class="p-2 flex-fill bd-highlight">

      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div style="cursor: pointer"  class="card-footer text-muted btn btn-primary">
          Voir la visualisation
        </div>
        <div style="cursor: pointer"  class="card-footer text-muted btn btn-primary">
          Voir les données brutes
        </div>
      </div>
      
    </div>


    <div class="p-2 flex-fill bd-highlight">

      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

    </div>
    
    
    <div class="p-2 flex-fill bd-highlight">

      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

    </div>

  </div>