<div class="d-flex bd-highlight h-75 bg-dark align-items-center">
<div class="container">
    <div class="card-deck">
        <div class="card btn-light" style="cursor:pointer" onclick="location.href='/charts';">
          <img class="card-img-top" src="assets/img/cardpict_graph.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Charts</h5>
            <p class="card-text">Here you can see some charts displaying useful data develired by the API.</p>
          </div>
        </div>
        <div class="card btn-light" style="cursor:pointer" onclick="location.href='/showmap';">
          <img class="card-img-top" src="assets/img/cardpict_map.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Map</h5>
            <p class="card-text">Here you can see the real-world emplacement of GPS points delivered by the API.</p>
          </div>
        </div>
        <div class="card btn-light" style="cursor:pointer" onclick="location.href='/dataall';">
          <img class="card-img-top" src="assets/img/cardpict_json.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JSON Viewer</h5>
            <p class="card-text">A simple JSON interactive viewer in order to see raw data delivered by the API.</p>
          </div>
        </div>
      </div>
  </div>
  </div>
